.ndt-table-container {
    .ndt-table {
        border-radius: 4px;
        border: 1px solid #ddd;

        .ndt-table-columns,
        .ndt-table-row {
            display: grid;
        }

        .ndt-table-columns .column,
        .ndt-table-row .ndt-cell {
            padding: 10px;
        }

        .ndt-table-columns {
            border-bottom: 2px solid #ddd;

            .ndt-column {
                padding: 10px 10px;

                &:not(:last-child) {
                    border-right: 1px solid #ddd;
                }

                .ndt-column-head {
                    font-size: 14px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    margin-bottom: 5px;

                    span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: bold;
                    }

                    .ndt-sorter {
                        position: absolute;
                        padding: 4px;
                        right: 0;
                        cursor: pointer;

                        svg {
                            width: 12px;
                            height: 12px;
                        }
                    }
                }

                .ndt-column-footer {
                    position: relative;
                    display: flex;

                    input {
                        width: 100%;
                        color: #222;
                        font-weight: 400;
                        letter-spacing: -.01em;
                        line-height: 24px;
                        border: 1px solid #d9d9d9;
                        border-radius: 5px;
                        font-size: 14px;
                        padding: 4px 20px 4px 6px;
                        height: 43px;
                    }

                    span {
                        position: absolute;
                        display: flex;
                        top: 0;
                        right: 0;
                        margin-top: 13.5px;
                        margin-right: 6px;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }

        .ndt-table-body {
            z-index: 1000;

            &.ndt-table-body-scrollable {
                position: relative;
                overflow-y: scroll;
                width: calc(100% + 8px);
                // right: -20px;

                &::-webkit-scrollbar {
                    width: 8px;
                    /* Ширина полосы прокрутки */
                }

                &::-webkit-scrollbar-track {
                    background-color: #f1f1f1;
                    /* Цвет фона трека */
                    border-radius: 5px;
                    /* Скругление углов трека */
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #888;
                    /* Цвет полосы прокрутки */
                    border-radius: 5px;
                    /* Скругление углов полосы прокрутки */
                }

                &::-webkit-scrollbar-button {
                    display: none;
                    /* Скрыть кнопки */
                }
            }

            .ndt-table-row {
                &:not(:last-child) {
                    border-bottom: 1px solid #ddd;
                }

                &:nth-child(2n) {
                    background-color: rgba(0, 0, 0, 0.04);
                }

                &:hover,
                &:nth-child(2n):hover {
                    background-color: rgba(0, 0, 0, 0.08);
                }

                &.ndt-table-row-selectable {
                    cursor: pointer;

                    &:hover,
                    &:nth-child(2n):hover {
                        background-color: rgba(144, 202, 249, 0.1);
                    }
                }

                &.ndt-table-row-selected,
                &:nth-child(2n).ndt-table-row-selected {
                    background-color: rgba(144, 202, 249, 0.25);
                }

                .ndt-cell {
                    display: flex;
                    align-items: center;
                    color: #333;
                    font-size: 16px;
                    font-weight: 400;

                    &.ndt-cell-editable {
                        border: none;
                        background-color: transparent;

                        &:focus,
                        &:focus-visible,
                        &:active {
                            outline: 1px solid rgba(34, 34, 34, 0.6);
                            border: none;
                            box-shadow: none;
                        }
                    }

                    &:not(:last-child) {
                        border-right: 1px solid #ddd;
                    }
                }
            }
        }

        .ndt-table-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 2px solid #cccccc;
            padding: 10px;

            .ndt-footer-count {
                font-size: 14px;
                color: #777777;
            }

            .ndt-footer-pagination {
                display: flex;

                .ndt-pagination-counts {
                    span {
                        margin-right: 5px;
                        color: #777777;
                    }

                    select {
                        height: 32px;
                        border: 1px solid #cccccc;
                        min-width: 50px;
                        text-align: center;
                    }
                }

                .ndt-pagination-buttons {
                    margin-left: 10px;
                    display: flex;

                    button {
                        margin-right: 10px;
                        background-color: #fff;
                        border: 1px solid #cccccc;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 4px 10px;
                        height: 100%;
                        font-size: 14px;

                        svg {
                            width: 10px;
                            height: 10px;
                        }

                        &:not(:disabled):hover,
                        &:not(:disabled):focus,
                        &:not(:disabled):active {
                            background-color: rgba(0, 0, 0, 0.05);
                        }

                        &:disabled {
                            opacity: 0.6;
                            cursor: auto;
                        }
                    }

                    .ndt-buttons-num {
                        margin-left: 5px;
                        margin-right: 5px;

                        button {
                            padding: 0 8px;

                            &.ndt-btn-active {
                                color: #fff;
                                background-color: #1d6ce5;
                                border: 1px solid #1d6ce5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ndt-dataError {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.ndt-group-header {
    font-weight: bold;
    padding: 8px 12px;
    background: #f0f0f0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.ndt-group-header:hover {
    background: #e0e0e0;
}

.ndt-buttonExport {
    border: 1px solid #fefefe;
    background: #3a6cbf;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 12px;
    transition: all .3s ease-in-out;

    &.ndt-Word {
        background: #3a6cbf;

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            border: 1px solid #3a6cbf;
            color: #3a6cbf;
        }
    }

    &.ndt-Excel {
        background: #48ae78;

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            border: 1px solid #48ae78;
            color: #48ae78;
        }
    }
}

.ndt-download-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .ndt-download-content {}

    & button:not(:last-child) {
        margin-right: 10px;
    }
}